$primary:    #ceff45;
$secondary:  #D4004A;
$purple:     #4E0262;
$light-grey: #D9D9D9;
$light-pink: #DAC5D3;
$grey:       #E7E5EA;
$dark-grey:  #171717;
$white:      #ffffff;
$black:      #000000;
$dark:       #1C1B1B;
$super-dark: #0E0E0E;
$light:      #F6F5F2;
$gold:       #2c1c04;

$theme-colors-rgb: (
    "primary":    #00C9FF,
    "secondary":  #D4004A
);


$headings-color: $white !default;
$body-color:     $light!default;
$body-bg:     $dark!default;
