$primary:    #ceff45;
$secondary:  #D4004A;
$purple:     #4E0262;
$light-grey: #D8D8D8;
$light-pink: #DAC5D3;
$grey:       #eaeaea;
$white:      #ffffff;
$black:      #000000;
$dark:       #1C1B1B;
$super-dark: #121212;
$light:      #F6F5F2;
$gold:       #C58D39;

$theme-colors-rgb: (
    "primary":    #00C9FF,
    "secondary":  #D4004A
);


$headings-color: $white !default;
$body-color:     $light!default;
$body-bg:     $dark!default;
