.c-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__brand {
  }

  &__toggler {
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  &__toggler-open {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__toggler-open-line {
    width: 100%;
    height: 2px;
    background-color: $light;
  }

  &__toggler-close {

  }
}
