.o-socials {
    position: absolute;
    top: 178px;
    right: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__cta {
        &+& {
            margin-top: 45px;
        }
    }
}