.o-slide-about {
  width: 100vw;
  height: 100vh;
  padding-top: 6.44rem;
  padding-bottom: 2.5rem;
  background: $light;

  &__container {
    padding-left: 2.13rem;
    padding-right: 13.38rem;
    height: 100%;
  }

  &__row {
    display: flex;
    height: 100%;
  }

  &__col {
    width: 100%;
    border-left: 1px solid $dark;

    &--left {
      width: 40rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    &--right {
      max-width: 100%;
      padding-left: 44px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    color: $dark;
    font-size: 2.63rem;
    margin-top: 0.44rem;
    margin-bottom: 0.44rem;

    > svg {
      width: 1.13rem;
      height: 1.13rem;
      margin-top: 2.1rem;
      path {
        stroke: $dark;
      }
    }
  }

  &__sub {
    color: $dark;
    font-weight: $font-weight-medium;
    font-size: 20px;
    line-height: 100.02%;
  }

  &__text {
    color: rgba($dark, 0.7);
    font-size: 1.13rem;
    margin-top: 2.19rem;
  }

  &__image {
    max-width: 24.06rem;
    height: 18.75rem;
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__ctas {
  }

  &__cta {
    display: block;
    padding-bottom: 2.19rem;
    border-bottom: 1px solid $dark;

    & + & {
      margin-top: .44rem;
    }
  }

  &__cta-title {
    color: $dark;
    font-size: 2.63rem;
    line-height: 63px;
    display: flex;
    justify-content: space-between;
  }

  &__cta-icon {
    width: 1.13rem;
    height: 1.13rem;
    margin-top: 1.5rem;
    path {
      stroke: $dark;
    }
  }

  &__cta-sub {
    color: $dark;
    font-size: 1.13rem;
    margin-top: 0.44rem;
  }

  &__socials {
  }

  &__socials-title {
    color: $dark;
    font-size: 1.13rem;
  }

  &__socials-list {
    display: flex;
    gap: 1.81rem;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 2.19rem;
  }

  &__socials-item {
  
    svg {
      width: 1.06rem;
      height: 1.06rem;
      display: block;
      
      path {
        fill: $dark;
      }
    }
  }
}
