.o-legendary {
  padding: 185px 0 1065px;
  position: relative;

  &__bg {
    position: absolute;
    inset: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover
    }
  }

  &__container {
    @include make-container();
    max-width: 1680px + $grid-gutter-width;
    position: relative;
    z-index: 2;
  }

  &__title {
    color: $dark;
    font-weight: $font-weight-normal;
    font-size: 74px;
    text-align: center;
  }

  &__text {
    color: $dark;
    font-weight: $font-weight-medium;
    font-size: 20px;
    line-height: 160%;
    margin: 40px auto 0 auto;
    max-width: 612px;
    text-align: center;
  }
}
