.o-header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  mix-blend-mode: difference;

  &__container {
    position: relative;
    width: 100%;
    max-width: 1920px;
    padding: 1.75rem 4.19rem;
    margin: 0 auto;
  }

  &__brand {
    svg {
      max-width: 10rem;
      height: 4rem;
      display: block;
    }
  }
}
