.o-slide-four {
  width: 100vw;
  height: 100vh;

  &__container {
    @include make-container();
    max-width: 1680px + $grid-gutter-width;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  &__content {
    width: 100%;
    max-width: 617px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
  }

  &__line {
    width: 15px;
    height: 3px;
    background-color: $light;
  }

  &__text {
    margin-top: 40px;
    margin-bottom: 209px;
    font-weight: $font-weight-medium;
    font-size: .94rem;

    &--top {
      margin-top: 0;
      margin-bottom: 70px;
      max-width: 330px;
      margin-left: auto;
    }
  }

  &__title {
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 200px;
  }

  &__detalis {
    position: absolute;
    top: 40%;
    right: 0;
    opacity: 0;
  }

  &__detalis-item {
    text-align: right;
    opacity: 0.2;
  }

  &__detalis-title {
    font-weight: $font-weight-medium;
    font-size: 336px;
    line-height: 407px;
  }

  &__detalis-sub {
    margin-right: 204px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 100.02%;
    font-weight: $font-weight-medium;
  }
}
