.o-main-hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    will-change: transform;
  }

  &__bg-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
  }

  &__container {
    @include make-container();
    max-width: 1680px + $grid-gutter-width;

    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
  }

  &__title {
    width: 100%;
    max-width: 677px;
    color: $light;
    font-size: 4rem;
    line-height: 4rem;
  }

  &__bottom {
    margin-top: 70px;
    margin-bottom: 45px;
  }

  &__watch-btn {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .75rem;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -40px;
        width: 2px;
        height: 24px;
        background: $light;
        transform: translateY(-50%);
        pointer-events: none;
    }
  }

  &__watch-btn-icon {
    margin-right: 15px;
  }

  &__event {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: $dark;
    padding: 1.31rem;
    z-index: 2;
    will-change: transform;

    svg {
      width: 12px;
      height: 12px;
      display: block;
    }
  }

  &__event-text {
    text-transform: uppercase;
    margin-left: 3.13rem;
  }

  &__event-sub {
    color: rgba($light, 0.5);
    font-size: .63rem;
  }

  &__event-title {
    color: $light;
    font-size: .81rem;
  }

  &__event-image {
    width: 7rem;
    height: 4rem;
    margin-left: 1.31rem;
    margin-right: 1.31rem
  }
}
