.o-slider-one {
  width: 100vw;
  height: 100vh;
  padding-top: 145px;
  padding-bottom: 20px;
  overflow: hidden;

  &__container {
    @include make-container();
    max-width: 1680px + $grid-gutter-width;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  &__title {
    max-width: 759px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 4rem;
    line-height: 4rem;
  }

  &__image {
    width: 100%;
    height: 35vh;
    margin-top: 40px;

    @include media-breakpoint-down(xxl) {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      will-change: transform;
    }
  }

  &__sub {
    text-transform: uppercase;
    font-size: .94rem;
    margin-top: 40px;
  }

  &__cta {
    margin-top: 80px;
    padding: 19px 56px;
    font-weight: $font-weight-medium;
    font-size: .94rem;
    border: 2px solid $light;

    @include media-breakpoint-down(xxl) {
      margin-top: 30px;
    }
  }
}
