.o-header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  mix-blend-mode: difference;

  &__container {
    position: relative;
    width: 100%;
    max-width: 1680px + 30px;
    padding: 30px;
    margin: 0 auto;
  }
}
